body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1; /* Fill the horizontal entire space or entire height */
  flex-basis: 0; /* To make each editor in the same size */
  display: flex;
  flex-direction: column;
  padding: .5rem; /* Set space between Editors */
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed {
  flex-grow: 0; /* To avoid "growing" display */
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important; /* make scroll-bar disappear */
}

.expand-collapse-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: #fff;
  padding: .5rem .5rem .5rem 1rem; /* <- Top Right Bottom Left */
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  overflow: hidden;
}
